h1 {
	background-color: green;
	border: green 1px solid;
}


.navbar-brand {
    padding: 0 0 0 0;
    margin-right: 0;
}

.navbar {
    max-height: 60px;
    padding-left: 0px;
    padding-right: 10px;
    
}




.nav-link:active {
    color: blue;
}





.nav-linkfour:active {
    color: blue;
}

.nav-item {
    
}

#name {
    font-size: 40px;
    color: #09c;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-weight: 100;
    
}



.container {
    margin-top: 100px;
}

.colHeadOne {

}

h3 {
    font-size: 18px;
    color: #09c;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-weight: 100;
}

.category_theme_title_color_3 {
    
}



.containerheading {

}

.flex-container {
    display:flex;
    flex-direction: row;
    height: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;

    
}

.TODAY {
    padding-top: 50px;
}

.TOMORROW {
    padding-top: 50px;
}

.UPCOMING {
    padding-top: 50px;
}

.SOMEDAY {
    padding-top: 50px;
}

.flexToday {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.flexTomorrow {
    display:flex;
    flex-direction: column;
}

.flexUpcoming {
    display:flex;
    flex-direction: column;
}

.flexSomeday {
    display:flex;
    flex-direction: column;
}

.btn-outline-info {
    height:62px;
    width:224px;
}

.add {
}

.btn-info {
    height: 62px;
    margin-top: 20px;
    background-color: #f9f9f9;
    color: black;
    border-color: #f9f9f9;
}


li {

}

.inline-block {
    
}



.navbar-light {
    
}

.nav-itemOne {

}

.navbar-nav {
    
}

.pageLink {
    padding-left: 0;
}




.nav-itemThree {
    
}


.input-group {
    padding-right: 50px;
}





.input-group-btn {
    
}





    

input {
    visibility: hidden;

}

#searchDiv:hover input {
    visibility: visible;
    transition: width 2s ease-in-out;
    ;
}




